@charset "UTF-8"; 

/* Todas as demais mídias */

/* Typical Devide Breakspoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px
*/

@media screen and (min-width: 481) and (max-width: 768px) { /* TABLET */
     
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

img#tv { display: none;}
img#phone { display: none;}
img#print { display: none;}
img#pc { display: none;}
img#tablet { display: block;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

img#tv { display: block;}
img#phone { display: none;}
img#print { display: none;}
img#pc { display: none;}
img#tablet { display: none;}
}